
<html><head><title>View Sede</title>
  <script>
  function edit(id) {
    return fetch('/sede/'+id, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ "nome": document.getElementById("nome").value , "citta" :document.getElementById("citta").value, "indirizzo" :document.getElementById("indirizzo").value })
    });
  } 
  function crea() {
    return fetch('/sede/', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ "nome": document.getElementById("nome").value , "citta" :document.getElementById("citta").value, "indirizzo" :document.getElementById("indirizzo").value })
    });
  }
  
</script>
</head>
 <% if ( luogo == "" ) { NomeView="Creazione"; FunzionedaChiamare="crea()"; } else { NomeView="Visualizzazione";  FunzionedaChiamare="edit('" + id + "')";} %> 
<body><h1><%- NomeView %> di Prenotazione</h1>
  <table>
    <tr><td>Luogo</td><td><input readonly type="text" name='luogo' id ='luogo' value="<%= luogo %>"></input ></td></tr>
    <tr><td>Citta</td><td><input readonly type="text" name='citta'  id ='citta' value="<%= citta %>"></input ></td></tr>
    <tr><td>Indirizzo</td><td><input readonly type="text" name='indirizzo'  id ='indirizzo' value="<%= indirizzo %>"></input ></td></tr>
    <tr><td>Nome</td><td><input readonly type="text" id="nome" name='nome' value="<%= nome %>"></input ></td></tr>
    <tr><td>Cognome</td><td><input readonly type="text" id="cognome" name='cognome' value="<%= cognome %>"></input ></td></tr>
    <tr><td>Codice Fiscale</td><td><input  readonlytype="text" id="CF" name='CF' value="<%=CodFis %>"></input ></td></tr>
<!--    <tr><td><button type="submit" value='Salva' onclick="<%- FunzionedaChiamare %>">Salva</button ></td></tr> -->
  </table>


</body></html>